@using MVC_CodeFirstDemo.ViewModel;
 
@model IEnumerable<ProdDiscVM>
 
    <h2>Show Discount</h2>
<div>
<table class="table table-striped">
<tr>
<td>Product Id</td>
<td>Product Name</td>
<td>Product Price</td>
<td>Category</td>
</tr>
@foreach(var m in Model)
            {
<tr>
<td>@m.ProdId</td>
<td>@m.ProdName</td>
<td style="background-color:@m.Color">@m.ProdPrice</td>
<td>@m.CatCode</td>
</tr>
            }
</table>
</div>