@model Catagory

<center><h2>Add Category</h2></center>
<br />

<div>
    <form method="post">
        
        <div class="form-group">
            <label for="catcode">Category Code:</label>
            <input asp-for="CatCode" class="form-control" name="CatCode" />
            <span asp-validation-for="CatCode" style="color:red; font-size:small"></span>
        </div>
        <div class="form-group">
            <label for="catdesc">Category Description:</label>
            <input asp-for="CatDesc" class="form-control" name="CatDesc" />
            <span asp-validation-for="CatDesc" style="color:red; font-size:small"></span>
        </div><br />
        <div asp-validation-summary="All" style="color:red;font-size:small"></div>
        <div>
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </div>
    </form>
</div>
@section Scripts{
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
   
}